<html lang="en" id='page'>
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="710615308491-m9b5ijdlck0groun5s870iqkk82pf7mr.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  
  </head>
    <body>
        {{>navbar}}        
        <h2 style="color:blue; font-style:italic;" >Found your Well-wisher!</h2>
        <br>
        <ul>
        {{#each doclist}}
            <div>
                <li>{{name}}: {{email}}</li>
                <form action="/calendar" method="POST">
                    <input type="hidden" name="cemail" value="{{../clientEmail}}">
                    <input type="hidden" name="demail" value="{{email}}">
                    <input type="submit" value="Book Appointment" class="btn btn-secondary"> 
                </form>
            </div>
        {{/each}}
        <ul>
        <p style="font-size:20px; color:blue; font-style:italic;">Schedule a virtual meet...</p>
        <input type="text" placeholder="Booking Status" value="{{text.msg}}" > 
    </body>
    
</html