<html lang="en" id='page'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </head>

    <style>

        #user-options{
            width: 30%;
            margin-left:10%;
            justify-content:right;
            align-items: center;
            text-align: center;
        }

        #user-details{
            width:50%;
            justify-content: left;
        }

        #user-dashboard{
            margin-right:5%;
            display: flex;
            flex-wrap:wrap;
            padding: 5%;
        }
    </style>

    <body>

        {{>navbar}}

        <h2 class="text-center"> My Dashboard</h2>

        <div id='user-dashboard'>
            <div id='user-details'>
                <div id='name-div' class="list-group-item">
                    Name: {{user.name}}
                </div>
                <div id='ph-div' class="list-group-item">
                    Contact: {{user.contact}}
                </div>
                <div id='adr-div' class="list-group-item">
                    Address: {{user.address}}
                </div>
                <div id='dob-div' class="list-group-item">
                    DOB: {{user.dob}}
                </div>
                <div id='bg-div' class="list-group-item">
                    Blood Group: {{user.bloodgrp}}
                </div>
                <div id='ht-div' class="list-group-item">
                    Height:{{user.height}}
                </div>
                <div id='wt-div' class="list-group-item">
                    Weight: {{user.weight}}
                </div>
                
            </div>

            <div id='user-options' class='list-group'>
                <a href='/edit-profile' class='op list-group-item list-group-item-action'>Edit Profile</a>
                <a href='/book-appointment' class='op list-group-item list-group-item-action'>Book an Appointment</a>
                <a href='/view-calendar' class='op list-group-item list-group-item-action'>View My Calendar</a>
                <a href='/test-reports' class='op list-group-item list-group-item-action'>View Test Reports</a>
            </div>

        </div>

    </body>

</html> 